<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arithmosophi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ArithmosophiOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ArithmosophiTVOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ArithmosophiWatchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C43F37AD1C15C10B00C0915D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C43F37BA1C15C12A00C0915D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C47004571B304CE200EB0C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C47004621B304CE300EB0C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C470047B1B30511100EB0C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C470048E1B30560700EB0C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C47004981B30560700EB0C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
